<h1 class="titulo1">Instituto Tecnológico de Tepic</h1>
<img src="../../../assets/images/logotec.png" class="logotec1">
<h2 class="interfa1">Interfaces Web</h2>
<h3 class="interfa1">Nombre de la actividad: Tarea2. Cuadro Comparativo</h3>
<h3 class="interfa1">M.C. ARJONA VIZCAÍNO ISRAEL</h3>
<h3 class="interfa1">GUZMÁN ÁLVAREZ SERGIO ALEJANDRO</h3>
<h3 class="interfa1">Ingeniería En Sistemas Computacionales</h3>
<h4 class="interfa1">Tepic, Nayarit a Jueves 9 de febrero del 2023</h4>
<a href="/cuadro"><img src="../../../assets/images/boton.png" class="boton"></a>
<footer class="bg-dark py-4 mt-auto">
    <div class="container px-1">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="footera"><div class="small m-0 text-white">Copyright &copy; Todos los derechos reservados a sus respectivos dueños, Github, ITTEPIC.  Guzmán Álvarez Sergio Alejandro | Web Elaborada en Angular 13.3.10</div></div>
        </div>
    </div> 
</footer>